body
{
    font-family: 'Special Elite', cursive;
    background-color: rgb(253, 169, 14);
    color:brown;
}
.heading_div
{
    background-color: azure;
    color: rgb(228, 202, 37);
}

.heading_div p{
    font-family: 'Oswald', sans-serif;
    color: indianred;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: bold;
}
.main_div button
{
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    width:130px;
    letter-spacing: 3px;
    font-weight: bold;
}
.footer_div
{
    position:fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: wheat;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px chocolate;
}
